html, body{
    background-color: #F3FAF9;
}

.pure-u-1-2 img{
    width: 20vw;
}

h1{
    text-align: center;
    color: #c94a39;
    font-size: 40px;
}

p{
    color: #c94a39;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}